# Setup

In [1]:
import pandas as pd
import numpy as np
import os

# To serialise models
from sklearn.externals import joblib

# To plot pretty figures
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter

import seaborn as sns

# plt.rcParams['axes.labelsize'] = 12
# plt.rcParams['xtick.labelsize'] = 9
# plt.rcParams['ytick.labelsize'] = 9
# plt.rcParams['axes.titlesize'] = 18
# plt.rcParams['figure.dpi'] = 400


plt.rcParams['axes.labelsize'] = 12
plt.rcParams['axes.titlesize'] = 18

plt.style.use('fivethirtyeight')


# to make this notebook's output stable across runs
np.random.seed(42)

# Where to save the figures
PROJECT_ROOT_DIR = "."
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images")
def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=400):
    if not os.path.isdir(IMAGES_PATH):
        os.makedirs(IMAGES_PATH)
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)


PROCESSED_PATH = os.path.join(PROJECT_ROOT_DIR, "processed")
def save_processed(df, filename, extension="csv"):
    if not os.path.isdir(PROCESSED_PATH):
        os.makedirs(PROCESSED_PATH)
    path = os.path.join(PROCESSED_PATH, filename + "." + extension)
    print("Saving processed dataset", filename)
    df.to_csv(path, index=False)
    
# if less than R1K, show as R800 (for eg). If btw R1000 and R999,999, show as R1K or R999K. If R1,000,000 or greater, show as R1M
def currency_formatter(x, pos):
    if x >= 1000000:
        return 'R%1.1fM' % (x * 1e-6)
    elif x < 1000:
        return 'R%1.1d' % (x)
    else:
        return 'R%1.1dK' % (x * 1e-3) 
    
axes_formatter = FuncFormatter(currency_formatter)

# Download & Process Zomato Data

In [2]:
API_KEY = "0ce0b2e48571f88facd08f8efd3569aa"
ENTITY_TYPE = "city"
SORT_BY = "rating"
SORT_ORDER = ["desc", "asc"]
RAW_FOLDER = "raw/"
PROCESSED_FOLDER = "processed/"

In [3]:
def load_data(base_path, file, sub_dir=None, ext="csv", encoding=None):
    filename = file + "." + ext
    if sub_dir is not None:
        csv_path = os.path.join(base_path, sub_dir, filename)
    else:
        csv_path = os.path.join(base_path, filename)
    return pd.read_csv(csv_path)

In [42]:
city_ids = load_data(RAW_FOLDER, "zomato_city_ids")
city_ids.head()

        Country       City  Zomato ID
0  South Africa  Cape Town         64

In [4]:
import requests
import json

def get_categories():
    # Get all zomato categories.
    # Categories are global and not unique to a specific country.
    headers = {"user-key": API_KEY}
    response=requests.get("https://developers.zomato.com/api/v2.1/categories", headers=headers)
    json_data = response.json()
    
    if not os.path.isdir(RAW_FOLDER):
         os.makedirs(RAW_FOLDER)
    file_name = "categories.json"
    file_path = os.path.join(RAW_FOLDER, file_name)
    
    with open(file_path, 'w') as outfile:
        json.dump(json_data, outfile)
        
    # return all the category id's for restaurant search function.  
    cat_ids = [category["categories"]["id"] for category in json_data["categories"]]
    return cat_ids
        
def get_establishment_type_for_city(city_id):
    # Finding all establishment types in city_id and writing to file
    headers = {"user-key": API_KEY}
    params = {"city_id": city_id}
    response=requests.get("https://developers.zomato.com/api/v2.1/establishments", 
                          headers=headers, params=params)
    json_data = response.json()
       
    if not os.path.isdir(RAW_FOLDER):
         os.makedirs(RAW_FOLDER)    
    file_name = "establishment_types_" + str(city_id) + "." + "json"
    file_path = os.path.join(RAW_FOLDER, file_name)
    
    with open(file_path, 'w') as outfile:
        json.dump(json_data, outfile)
        
    # return all the establishment type id's for restaurant search function.  
    establishment_ids = [establishment["establishment"]["id"] for establishment in json_data["establishments"]]
    return establishment_ids
        
def get_cuisine_type_for_city(city_id):
    # Finding all cuisine types in Cape Town and writing to file
    headers = {"user-key": API_KEY}
    params = {"city_id": city_id}
    response=requests.get("https://developers.zomato.com/api/v2.1/cuisines", 
                          headers=headers, params=params)
    json_data = response.json()
    
    if not os.path.isdir(RAW_FOLDER):
         os.makedirs(RAW_FOLDER)    
    file_name = "cuisine_types_" + str(city_id) + "." + "json"
    file_path = os.path.join(RAW_FOLDER, file_name)
    
    with open(file_path, 'w') as outfile:
        json.dump(json_data, outfile)
        
    # return all the cuisine type id's for restaurant search function.
    cuisine_ids = [cuisine["cuisine"]["cuisine_id"] for cuisine in json_data["cuisines"]]
    return cuisine_ids

In [8]:
def download_with_criteria(headers, city_id, file_path, iterable_list, iterable_name, sort_order, is_item_list=False):
    json_dump = []
    
    # if API is not expecting a list for iterable_name, then run through each value as as search criteria
    if not is_item_list:        
        for item in iterable_list:
            start = 0
            results_shown = 20
            while results_shown != 0:                
                params = {"entity_id": city_id, "entity_type": ENTITY_TYPE, "start": start, 
                          "count": 20, iterable_name: item,"sort": SORT_BY, 
                          "order": sort_order}
                response=requests.get("https://developers.zomato.com/api/v2.1/search", 
                                  headers=headers, params=params)

                json_data = response.json()
                results_shown = int(json_data.get("results_shown", 0))

                if results_shown == 0:
                    break

                # appending each dictionary to a list so that json.load() can process 
                # multiple dictionaries
                json_dump.append(json.dumps(json_data))     

                start += 20
    
    # otherwise pass the full list to iterable_name, such as cuisine's. 
    # note: initially it was attempted to run through the above loop for every cuisine type, but allowed API calls 
    # where exceeded for a single city download attempt. 
    else:
        start = 0
        results_shown = 20
        while results_shown != 0:            
            params = {"entity_id": city_id, "entity_type": ENTITY_TYPE, "start": start, 
                      "count": 20, iterable_name: iterable_list,"sort": SORT_BY, 
                      "order": sort_order}
            response=requests.get("https://developers.zomato.com/api/v2.1/search", 
                              headers=headers, params=params)

            json_data = response.json()
            results_shown = int(json_data.get("results_shown", 0))

            if results_shown == 0:
                break

            # appending each dictionary to a list so that json.load() can process 
            # multiple dictionaries
            json_dump.append(json.dumps(json_data))     

            start += 20
        
            
    
    # each dictionary must exist as a list object for json.load to read it correctly    
    with open(file_path, 'w') as outfile:
        outfile.write("[")
        count = 0
        for item in json_dump:
            outfile.write(item)
            if count < len(json_dump)-1:
                outfile.write(",")
            count += 1
        outfile.write("]")

In [44]:
def get_restaurants(city_id, establishment_types):
     # Find 100 top rated restaurants of each establishment type, category and cuisine type per city and write to file
    headers = {"user-key": API_KEY}
    
    if not os.path.isdir(RAW_FOLDER):
         os.makedirs(RAW_FOLDER)
    
    search_criteria = ["Category", "Establishment Type", "Cuisine Type"]
    city_name = city_ids[city_ids["Zomato ID"] == city_id]["City"].values[0]

    # Download restaurant for city by establishment type
    print("Downloading restaurants for", city_name, "by", search_criteria[1])
    
    for sort_order in SORT_ORDER:
        file_name = "restaurants_by_establishment_type_" + str(city_id) + "_" + sort_order + "." + "json"
        file_path = os.path.join(RAW_FOLDER, file_name)
        download_with_criteria(headers, city_id, file_path, establishment_types, "establishment_type", 
                               sort_order, is_item_list=False)
    print("Done")

In [18]:
for city_id in city_ids["Zomato ID"]:
    establishments = get_establishment_type_for_city(city_id)
    get_restaurants(city_id, establishments)

Downloading restaurants for Cape Town by Establishment Type
Done

In [45]:
# For each city, we need to combine the restaurant data from the categories-based, establishment type-based and cuisine-based json files. 

def build_csv(city_id, source_type):
    restaurants_list = []
    for sort_order in SORT_ORDER:
        file_name = "restaurants_by_" + source_type + "_" + str(city_id) + "_" + sort_order + ".json"
        source_path = os.path.join(RAW_FOLDER, file_name)

        db = json.load(open(source_path))

        restaurant_cols = ["name", 
                           "cuisines",
                           "aggregate_rating", 
                           "rating_text", 
                           "votes",
                           "currency", 
                           "average_cost_for_two", 
                           "price_range",                    
                           "locality",
                           "locality_verbose",
                           "city", 
                           "zipcode",
                           "country_id",
                           "latitude", 
                           "longitude",                                       
                           "has_online_delivery", 
                           "has_table_booking", 
                           ]

        restaurants = [restaurant_group["restaurant"] for count_group in db 
                           for restaurant_group in count_group["restaurants"]] 

        for restaurant in restaurants:
            restaurant["locality"] = restaurant["location"]["locality"]
            restaurant["locality_verbose"] = restaurant["location"]["locality_verbose"]
            restaurant["city"] = restaurant["location"]["city"]
            restaurant["latitude"] = restaurant["location"]["latitude"]
            restaurant["longitude"] = restaurant["location"]["longitude"]
            restaurant["zipcode"] = restaurant["location"]["zipcode"]
            restaurant["country_id"] = restaurant["location"]["country_id"]
            restaurant["aggregate_rating"] = restaurant["user_rating"]["aggregate_rating"]
            restaurant["votes"] = restaurant["user_rating"]["votes"]
            restaurant["rating_text"] = restaurant["user_rating"]["rating_text"]
            
        restaurants_list.append(restaurants)
        
    df1 = pd.DataFrame(restaurants_list[0], columns=restaurant_cols)
    df2 = pd.DataFrame(restaurants_list[1], columns=restaurant_cols)
    return pd.concat([df1, df2])
    

def process_restaurants_json(city_id):
    
    source_types = ["establishment_type"]
    dfs = []
    for source in source_types:
        dfs.append(build_csv(city_id, source))
    
    if not os.path.isdir(PROCESSED_FOLDER):
         os.makedirs(PROCESSED_FOLDER) 
    
    file_name = "restaurants_" + str(city_id) + ".csv"
    output_path = os.path.join(PROCESSED_FOLDER, file_name)

    data = pd.concat(dfs)
    data.to_csv(output_path, encoding='utf-8-sig', index=False)

In [32]:
for city in city_ids["Zomato ID"]:
    process_restaurants_json(city)

# Data Preparation

In [5]:
data = load_data(PROCESSED_FOLDER, 'restaurants_64')
data.shape

(1970, 17)

In [6]:
data.head()

,name,cuisines,aggregate_rating,rating_text,votes,currency,average_cost_for_two,price_range,locality,locality_verbose,city,zipcode,country_id,latitude,longitude,has_online_delivery,has_table_booking
0,Moro Gelato,"Desserts, Ice Cream",4.8,Excellent,72,R,80,1,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.924108,18.417317,0,0
1,Unframed Ice Cream,Ice Cream,4.7,Excellent,104,R,40,1,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.928691,18.412097,0,0
2,The Velvet Cake Co.,"Bakery, Desserts",4.6,Excellent,90,R,165,2,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.919300,18.421512,0,0
3,The Creamery,"Desserts, Ice Cream",4.5,Excellent,389,R,110,2,Newlands,"Newlands, Cape Town",Cape Town,NaN,189,-33.970286,18.461950,0,0
4,My Sugar,"Cafe, Patisserie, Bakery, Desserts",4.5,Excellent,197,R,125,2,Sea Point,"Sea Point, Cape Town",Cape Town,NaN,189,-33.921692,18.382759,0,0

## Remove Duplicates

Since we downloaded the top 100 and bottom 100 restuarants of each category, there is likely to be some duplication as certain categories contain less than 200 restaurants meaning that the same establishment could appear near the bottom of the top 100 or the top of the bottom 100. There are many restaurant franchises in Cape Town, so we'll define a duplicate as a restaurant with the same name at the same locality.

In [7]:
data[data.duplicated(subset=["name", "locality"])]

,name,cuisines,aggregate_rating,rating_text,votes,currency,average_cost_for_two,price_range,locality,locality_verbose,city,zipcode,country_id,latitude,longitude,has_online_delivery,has_table_booking
87,N' Ice,"Ice Cream, Desserts",0.0,Not rated,1,R,70,1,Strand,"Strand, Cape Town",Cape Town,NaN,189,-34.114265,18.822527,0,0
156,Vida E Caffe,"Cafe, Desserts",3.3,Average,17,R,150,2,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.929000,18.411833,0,0
162,Kauai,"Healthy Food, Fast Food",3.3,Average,11,R,200,3,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.922833,18.420833,0,0
299,The Fat Cactus,"Mexican, Finger Food, Tex-Mex",4.1,Very Good,420,R,300,4,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.928833,18.410833,0,0
301,Rick's Cafe Americain,"Moroccan, Grill, Seafood, Burger, Finger Food",3.9,Good,273,R,320,4,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.928372,18.410481,0,0
302,Beerhouse on Long,"Grill, German",3.9,Good,305,R,300,4,CBD,"CBD, Cape Town",Cape Town,8001.0,189,-33.925512,18.415936,0,0
303,Bombay Bicycle Club,"Mediterranean, Steak, Finger Food",3.9,Good,279,R,450,4,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.936626,18.404738,0,0
500,Warwick Wine Estate,"South African, Mediterranean, Cafe",4.6,Excellent,104,R,440,4,Stellenbosch,"Stellenbosch, Cape Town",Cape Town,NaN,189,-33.840835,18.864158,0,0
502,My Sugar,"Cafe, Patisserie, Bakery, Desserts",4.5,Excellent,197,R,125,2,Sea Point,"Sea Point, Cape Town",Cape Town,NaN,189,-33.921692,18.382759,0,0
503,The Velvet Cake Co.,"Cafe, Desserts, Bakery",4.4,Very Good,130,R,160,2,Bellville,"Bellville, Cape Town",Cape Town,NaN,189,-33.868301,18.641180,0,0
514,tashas,"Cafe, Mediterranean",4.2,Very Good,209,R,320,4,"Constantia Village, Constantia","Constantia Village, Constantia, Cape Town",Cape Town,NaN,189,-34.021699,18.444128,0,0
515,Yoco Eatery,"Cafe, Burger, Contemporary, International",4.2,Very Good,97,R,180,2,Durbanville,"Durbanville, Cape Town",Cape Town,NaN,189,-33.831684,18.648766,0,0
518,tashas,"Mediterranean, Cafe",4.1,Very Good,221,R,320,4,"Canal Walk Mall, Century City","Canal Walk Mall, Century City, Cape Town",Cape Town,7446.0,189,-33.894000,18.510000,0,0
533,Nü,"Healthy Food, Cafe",4.0,Very Good,119,R,200,3,Green Point,"Green Point, Cape Town",Cape Town,NaN,189,-33.909026,18.412861,0,0
599,Burger & Lobster,"Seafood, Burger",4.4,Very Good,222,R,368,4,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.921386,18.418015,0,0
600,Jerry's Burger Bar,"Burger, American",4.3,Very Good,345,R,250,3,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.929022,18.410769,0,0
601,The Shortmarket Club,French,4.3,Very Good,78,R,584,4,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.921381,18.418744,0,0
603,Jerry's Burger Bar,"Burger, American",4.1,Very Good,246,R,250,3,Observatory,"Observatory, Cape Town",Cape Town,NaN,189,-33.939000,18.469333,0,0
605,The Village Idiot,"South African, Grill",4.0,Very Good,239,R,280,3,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.919898,18.421413,0,0
606,Outrage of Modesty,International,4.0,Very Good,51,R,250,3,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.921084,18.418328,0,0
609,Jerry's Burger Bar,"Burger, American",3.9,Good,188,R,250,3,"Portico Building, Table View","Portico Building, Table View, Cape Town",Cape Town,NaN,189,-33.822966,18.478003,0,0
700,Aces 'n Spades,Drinks Only,3.4,Average,27,R,200,3,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.921708,18.419594,0,0
715,The Velvet Cake Co.,"Bakery, Desserts",4.6,Excellent,90,R,165,2,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.919300,18.421512,0,0
716,New York Bagels,"Cafe, Bakery, Deli, Coffee and Tea, Sandwich",4.4,Very Good,139,R,150,2,Zonnebloem,"Zonnebloem, Cape Town",Cape Town,NaN,189,-33.928421,18.423894,0,0
717,Jason Bakery,"Cafe, Bakery",4.2,Very Good,330,R,180,2,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.924515,18.414571,0,0
718,The Larder,"Cafe, Deli, Bakery, Burger, Desserts, Healthy ...",4.2,Very Good,168,R,150,2,Claremont,"Claremont, Cape Town",Cape Town,NaN,189,-33.981822,18.464501,0,0
720,Max Bagels,"Cafe, Bakery",4.0,Very Good,66,R,0,1,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.922269,18.416927,0,0
721,Knead,"Cafe, Bakery",3.7,Good,215,R,250,3,Gardens,"Gardens, Cape Town",Cape Town,NaN,189,-33.929500,18.411167,0,0
722,Oumeul Bakkery,"Cafe, Bakery",3.7,Good,114,R,180,2,Bellville,"Bellville, Cape Town",Cape Town,NaN,189,-33.870263,18.631172,0,0
723,Lust,"Cafe, Bakery",3.6,Good,57,R,350,4,Franschhoek,"Franschhoek, Cape Town",Cape Town,NaN,189,-33.837409,18.953228,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940,Daytona Pub & Venue,"South African, Burger, Steak",0.0,Not rated,1,R,200,3,Table View,"Table View, Cape Town",Cape Town,NaN,189,-33.828010,18.536595,0,0
1941,Zebonkey Brewery,Beverages,0.0,Not rated,0,R,200,3,Stellenbosch,"Stellenbosch, Cape Town",Cape Town,NaN,189,-33.848246,18.857921,0,0
1942,Cassis,Patisserie,3.2,Average,9,R,100,2,"Constantia Village, Constantia","Constantia Village, Constantia, Cape Town",Cape Town,NaN,189,-34.021803,18.445046,0,0
1943,Coco Safar,"Cafe, Patisserie, Bakery, Cafe Food, Coffee an...",3.4,Average,23,R,300,4,Sea Point,"Sea Point, Cape Town",Cape Town,NaN,189,-33.910270,18.394588,0,0
1944,Yummi,Patisserie,3.5,Good,20,R,125,2,"Canal Walk Mall, Century City","Canal Walk Mall, Century City, Cape Town",Cape Town,NaN,189,-33.892667,18.510500,0,0
1945,Créme de Levain,Bakery,3.6,Good,20,R,120,2,Stellenbosch,"Stellenbosch, Cape Town",Cape Town,NaN,189,-33.938082,18.860234,0,0
1946,Créme de Levain,"Healthy Food, Bakery, Ice Cream, Desserts",0.0,Not rated,1,R,120,2,"The Sanctuary Shopping Centre, Somerset West","The Sanctuary Shopping Centre, Somerset West, ...",Cape Town,NaN,189,-34.088279,18.821472,0,0
1947,High Tea Tighty,"Patisserie, Cafe",0.0,Not rated,0,R,60,1,"V & A Foodmarket, V & A Waterfront","V & A Foodmarket, V & A Waterfront, Cape Town",Cape Town,NaN,189,-33.906397,18.419219,0,0
1948,TonyH Artisan Chocolates,Desserts,0.0,Not rated,0,R,50,1,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1949,Njam,"Patisserie, Cafe",0.0,Not rated,0,R,60,1,Hermanus,"Hermanus, Cape Town",Cape Town,NaN,189,-34.340516,19.032726,0,0
1950,Kreativ juice,Juices,3.0,Average,4,R,60,1,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1951,Las Paletas,Ice Cream,3.1,Average,6,R,40,1,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1952,The Pickled Popper,"Mexican, Street Food",3.1,Average,9,R,95,1,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1953,Earthfire Pizza,"Street Food, Pizza",3.1,Average,5,R,120,2,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.922931,18.418646,0,0
1954,The Nob,Burger,3.1,Average,5,R,150,2,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-33.998459,18.479500,0,0
1955,Didi's Bitchin Burritos,Mexican,3.2,Average,12,R,120,2,Woodstock,"Woodstock, Cape Town",Cape Town,NaN,189,-33.928172,18.456606,0,0
1956,Earthfire Pizza,Pizza,3.2,Average,5,R,0,1,Sea Point,"Sea Point, Cape Town",Cape Town,8060.0,189,-33.919542,18.385410,0,0
1957,Sugary Sensations,Desserts,3.3,Average,12,R,50,1,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1958,Crumbs and Cream,Ice Cream,3.5,Good,58,R,100,2,V & A Waterfront,"V & A Waterfront, Cape Town",Cape Town,NaN,189,-33.906969,18.418446,0,0
1959,Como,Latin American,0.0,Not rated,2,R,80,1,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1960,Black Box Coffeeworks,Cafe,0.0,Not rated,1,R,150,2,Constantia,"Constantia, Cape Town",Cape Town,NaN,189,-34.011832,18.405379,0,0
1961,Chameleon Mobile Kitchen,"Street Food, South African, Contemporary",0.0,Not rated,0,R,120,2,Observatory,"Observatory, Cape Town",Cape Town,NaN,189,-33.941775,18.468966,0,0
1962,Sliced Between,Cafe,0.0,Not rated,0,R,120,2,Kenilworth,"Kenilworth, Cape Town",Cape Town,NaN,189,-34.001490,18.479184,0,0
1963,The Chef’s Bench,"Street Food, Burger",0.0,Not rated,0,R,120,2,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.922941,18.418652,0,0
1964,Sunset Cafe,"Contemporary, Seafood",2.8,Average,7,R,220,3,Camps Bay,"Camps Bay, Cape Town",Cape Town,NaN,189,-33.953145,18.377245,0,0
1965,Harringtons Cocktail Lounge,Drinks Only,3.4,Average,16,R,200,3,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.928973,18.423191,0,0
1966,Oh La La Cocktail Lounge,Drinks Only,0.0,Not rated,0,R,200,3,"Krystal Beach Hotel, Gordon's Bay","Krystal Beach Hotel, Gordon's Bay, Cape Town",Cape Town,NaN,189,-34.151381,18.859011,0,0
1967,The Polynesian Pearl Diver,Drinks Only,0.0,Not rated,0,R,180,2,"Victoria Wharf, V & A Waterfront","Victoria Wharf, V & A Waterfront, Cape Town",Cape Town,NaN,189,-33.903094,18.419792,0,0
1968,Moody Lagoon,"Contemporary, French",3.1,Average,5,R,800,4,Hermanus,"Hermanus, Cape Town",Cape Town,NaN,189,-34.345714,19.135022,0,0
1969,Seabreeze Fish & Shell,Seafood,3.6,Good,44,R,300,4,CBD,"CBD, Cape Town",Cape Town,NaN,189,-33.925417,18.413605,0,0

In [8]:
data.duplicated(subset=["name", "locality"]).sum()

614

In [9]:
# duplicates are considerd those restaurants with the same name in the same location. Keep the first instance.
data = data.drop_duplicates(subset=["name", "locality"], keep='first')
data.shape

(1356, 17)

## Removing Unneccessary Columns

In [10]:
#removing currency, country, locality_verbose and zipcode
cols = ['name', 'cuisines', 'aggregate_rating', 'rating_text', 'votes',
       'average_cost_for_two', 'price_range', 'locality', 'city',
       'latitude', 'longitude', 'has_online_delivery', 'has_table_booking']
data = data[cols]
data.head()

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,longitude,has_online_delivery,has_table_booking
0,Moro Gelato,"Desserts, Ice Cream",4.8,Excellent,72,80,1,CBD,Cape Town,-33.924108,18.417317,0,0
1,Unframed Ice Cream,Ice Cream,4.7,Excellent,104,40,1,Gardens,Cape Town,-33.928691,18.412097,0,0
2,The Velvet Cake Co.,"Bakery, Desserts",4.6,Excellent,90,165,2,CBD,Cape Town,-33.919300,18.421512,0,0
3,The Creamery,"Desserts, Ice Cream",4.5,Excellent,389,110,2,Newlands,Cape Town,-33.970286,18.461950,0,0
4,My Sugar,"Cafe, Patisserie, Bakery, Desserts",4.5,Excellent,197,125,2,Sea Point,Cape Town,-33.921692,18.382759,0,0

## Fix Restaurants with Missing Geographic Info

We'll also identify restaurants that don't have their latitude and longitude specified as we'll be using these parameters during the analysis. Where possible, we'll fill in these values by looking up the restaurant info on Google Maps. If we can't find the info, we'll remove the restaurant from the analysis.

In [11]:
data[(data["longitude"] == 0) & (data["latitude"] == 0)]

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,longitude,has_online_delivery,has_table_booking
41,Jessy's Waffles,Desserts,3.2,Average,11,100,2,Gardens,Cape Town,0.0,0.0,0,0
91,DV Café,"Desserts, Cafe, Ice Cream",0.0,Not rated,0,50,1,"Spice Route Farm, Paarl",Cape Town,0.0,0.0,0,0
130,Vida E Caffe,"Cafe, Desserts",3.5,Good,17,150,2,Camps Bay,Cape Town,0.0,0.0,0,0
134,Lekker Vegan,Fast Food,3.4,Average,28,200,3,CBD,Cape Town,0.0,0.0,0,0
361,The Vic Bar,"American, Italian",3.0,Average,6,0,1,Gardens,Cape Town,0.0,0.0,0,0
641,Ben's On the Beach,"Grill, Burger",3.6,Good,58,320,4,Strand,Cape Town,0.0,0.0,0,0
774,La Bella Rosa Bistro & Coffee,"Cafe, Burger, Bakery",2.8,Average,4,160,2,Durbanville,Cape Town,0.0,0.0,0,0
826,The Common Room,Finger Food,0.0,Not rated,0,70,1,CBD,Cape Town,0.0,0.0,0,0
937,Jack Rabbit Mobile Kitchen,"Fast Food, Street Food, South African",0.0,Not rated,3,100,2,Durbanville,Cape Town,0.0,0.0,0,0
1431,Moyo,African,3.4,Average,86,561,4,Newlands,Cape Town,0.0,0.0,0,0
1540,The White Rabbit,Cafe,2.7,Average,5,0,1,V & A Waterfront,Cape Town,0.0,0.0,0,0
1663,Company Social Brasserie,Contemporary,3.1,Average,10,0,1,Stellenbosch,Cape Town,0.0,0.0,0,0

In [12]:
data.loc[41, "latitude"] = -33.9314912; data.loc[41, "longitude"] = 18.416589
data.loc[91, "latitude"] = -33.7643602; data.loc[91, "longitude"] = 18.9180991
data.loc[130, "latitude"] = -33.9511; data.loc[130, "longitude"] = 18.3763713
data.loc[134, "latitude"] = -33.9284282; data.loc[134, "longitude"] = 18.4215289
data.loc[361, "latitude"] = -33.9330936; data.loc[361, "longitude"] = 18.4058024
data.loc[641, "latitude"] = -34.1115314; data.loc[641, "longitude"] = 18.819894
data.loc[774, "latitude"] = -33.833121; data.loc[774, "longitude"] = 18.6438816
data.loc[826, "latitude"] = -33.926449; data.loc[826, "longitude"] = 18.4454532
data.loc[1431, "latitude"] = -33.988727; data.loc[1431, "longitude"] = 18.4313973
data.loc[1540, "latitude"] = -33.9036187; data.loc[1540, "longitude"] = 18.4183216
data.loc[1663, "latitude"] = -33.9358607; data.loc[1663, "longitude"] = 18.8564851

In [13]:
data[(data["longitude"] == 0) & (data["latitude"] == 0)]

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,longitude,has_online_delivery,has_table_booking
937,Jack Rabbit Mobile Kitchen,"Fast Food, Street Food, South African",0.0,Not rated,3,100,2,Durbanville,Cape Town,0.0,0.0,0,0

The only restaurant we couldn't find location information for was Jack Rabbit Mobile Kitchen. This makes sense since it sounds like a food truck that doesn't have a fixed location. We'll remove it.

In [14]:
data = data[(data["longitude"] != 0) & (data["latitude"] != 0)]
data[(data["longitude"] == 0) & (data["latitude"] == 0)]

Empty DataFrame
Columns: [name, cuisines, aggregate_rating, rating_text, votes, average_cost_for_two, price_range, locality, city, latitude, longitude, has_online_delivery, has_table_booking]
Index: []

We know these are South African restaurants, so all their latitude values should be negative and all their longitude values positive, let's check this.

In [15]:
data[data["latitude"] > 0]

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,longitude,has_online_delivery,has_table_booking
643,The 41,"Contemporary, Seafood, Mediterranean, Sushi",3.5,Good,29,400,4,Camps Bay,Cape Town,33.948688,18.376794,0,0
685,Pearl Mountain,Drinks Only,3.3,Average,7,50,1,"Pearl Mountain Wine Estate, Paarl",Cape Town,33.702186,18.995174,0,0
868,Groot Constantia Winery,Drinks Only,3.9,Good,52,90,1,"Groot Constantia Wine Estate, Constantia",Cape Town,34.026732,18.422542,0,0
1665,Anura Tasting Room,Drinks Only,3.1,Average,5,100,2,Anura,Cape Town,33.804110,18.884110,0,0
1841,The Trading Post Eatery,"Cafe, Deli",3.0,Average,5,200,3,Anura,Cape Town,33.811946,18.885821,0,0

In [16]:
f = lambda x: -x if x > 0 else x
data.latitude = data.latitude.apply(f)
data[data["latitude"] > 0]

Empty DataFrame
Columns: [name, cuisines, aggregate_rating, rating_text, votes, average_cost_for_two, price_range, locality, city, latitude, longitude, has_online_delivery, has_table_booking]
Index: []

In [17]:
data[data["longitude"] < 0]

Empty DataFrame
Columns: [name, cuisines, aggregate_rating, rating_text, votes, average_cost_for_two, price_range, locality, city, latitude, longitude, has_online_delivery, has_table_booking]
Index: []

## Add Dummy Columns for Each Cuisine Type

We'd like to have a true/false value for each cuisine type. This will make it easier to count restaurants by specific cuisine types later. Zomato piles all the cuisines together in a single comma seperated field, so we need to break this up first and then create dummies.

In [18]:
# Values in cuisine columns may have multiple values with ',' seperator
# Extract each possible cuisine type then ensure each dummy column is prefixed with "cuisine_"

dummies = data['cuisines'].str.get_dummies(sep=", ")
dummies.columns = [str(col) for col in dummies.columns]
data = pd.concat([data, dummies], axis=1)
print(data.shape)
data.sample(10)

(1355, 86)

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,...,Steak,Street Food,Sushi,Tapas,Tea,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese
49,Marcel's Frozen Yoghurt,Desserts,3.1,Average,5,100,2,"Bayside Mall, Table View",Cape Town,-33.823610,...,0,0,0,0,0,0,0,0,0,0
1404,Riempies - Southern Sun Cape Sun,"European, Cape Malay",3.1,Average,7,519,4,CBD,Cape Town,-33.921756,...,0,0,0,0,0,0,0,0,0,0
504,New York Bagels,"Cafe, Bakery, Deli, Coffee and Tea, Sandwich",4.4,Very Good,139,150,2,Zonnebloem,Cape Town,-33.928421,...,0,0,0,0,0,0,0,0,0,0
1418,The Famous Butcher's Grill - Cape Town Lodge,Steak,3.3,Average,52,498,4,CBD,Cape Town,-33.922319,...,1,0,0,0,0,0,0,0,0,0
1130,McDonalds,Fast Food,2.5,Average,7,100,2,"Tyger Manor, Bellville",Cape Town,-33.876109,...,0,0,0,0,0,0,0,0,0,0
753,Rosa's Bakery,"Cafe, Bakery",3.2,Average,9,200,3,CBD,Cape Town,-33.921750,...,0,0,0,0,0,0,0,0,0,0
250,Cafe Manhattan,"American, Grill",4.1,Very Good,106,300,4,Green Point,Cape Town,-33.916199,...,0,0,0,0,0,0,0,0,0,0
1141,Anat,"Lebanese, Fast Food",2.6,Average,13,120,2,"Victoria Wharf, V & A Waterfront",Cape Town,-33.904333,...,0,0,0,0,0,0,0,0,0,0
686,Val Du Charron Wine & Olive Estate,Drinks Only,3.3,Average,9,80,1,Wellington,Cape Town,-33.624601,...,0,0,0,0,0,0,0,0,0,0
651,Steam Restaurant,"Burger, Tapas, South African, Grill, Steak",3.4,Average,44,300,4,Stellenbosch,Cape Town,-33.938209,...,1,0,0,1,0,0,0,0,0,0

## Extract a Place of Interest from Locality and Store in New Column
Some restaurants are part of a place of interest such as a shopping mall or hotel. This is specified in the locality as a comma-seperated pair. We'll split these out into their own column and use "None" where it doesn't apply. This allows us to investigate rating trends at specific shopping malls, for example.

In [19]:
# Go through each row and extract a place value from the locality if one is specified
# Store the place and locality seperately in order to filter more precisely

places = []
localities = []
def split_locality(row):
    items = row["locality"].split(',')
    if len(items) > 1:
        places.append(items[0])
        localities.append(items[1].strip())
    else:
        places.append("None")
        localities.append(items[0].strip())
        
       
data.apply(split_locality, axis=1)
data["places"] = places
data["locality"] = localities

In [20]:
data[["locality", "places"]].sample(10)

              locality places
1389  V & A Waterfront   None
564          Camps Bay   None
493                CBD   None
300          Pinelands   None
1164         Bellville   None
1262       Durbanville   None
1617      De Waterkant   None
443          Camps Bay   None
164         Table View   None
325           Hermanus   None

## Fix Localities Incorrectly Entered Into Zomato
A number of localities were found with spelling mistakes leading to an incorrect representation of the data. While we could exclude these I would rather try fix them manually so as to keep as much data as possible for the analysis.

In [21]:
mapping = {
    "Dubanville": "Durbanville",
    "Contantia": "Constantia",
    "Tableview": "Table View",
    "Belville":"Bellville",
    "Belvile":"Bellville",
    "Bellvile":"Bellville",
    "V&A Waterfront":"V & A Waterfront",
    "The Woodstock Exchange. Woodstock": "Woodstock",
    "Franschoek":"Franschhoek",
    "Somersetwest":"Somerset West",
    "Kuilsriver":"Kuils River",
    "Greenpoint":"Green Point",
    "Ridgeback Wine Farm": "Paarl",
    "Anura": "Stellenbosch",
    "Hannover": "Hanover Park",
    "NH The Lord Charles Hotel": "Somerset West",
    "Fairbridge Mall": "Brackenfell",
    "Blouberg": "Bloubergstrand",
    "Two Oceans Beach": "Mouille Point",
}

def correct_incorrect_localities(col):
    if col in mapping:
        return mapping.get(col, 'None')
    else:
        return col
    
#data["locality"] = data["locality"].apply(correct_incorrect_localities)

# If no mapping provided, return x
f = lambda x: mapping.get(x, x)
data.locality = data.locality.map(f)

## Build Web Scraper & Add Region Column to Visualise Larger Geographical Areas

In addition to the locality/suburb, we'd like to visualise larger regional trends as well. To do this, we'll scrape a list of Cape Town suburbs and their associated regions from https://en.wikipedia.org/wiki/List_of_Cape_Town_suburbs. 

We'll export the suburb/region match to its own data file, then for each restaurant in our dataset, we will match its locality to this list of suburbs and assign the fitting region to a new column in the main dataset.

In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

response = requests.get('https://en.wikipedia.org/wiki/List_of_Cape_Town_suburbs')
content = response.content
parser = BeautifulSoup(content, 'html.parser')

#Finding all regions in th Wiki page - these have the .mw-headline class
regions_list = [region.text for region in parser.select(".mw-headline")]
suburbs_by_region = {}                    

# The .wikitable class is assigned to each table of suburbs per region    
regions = parser.select(".wikitable")  

count = 0
for region in regions:
    # Finding each suburb while skipping columns with postal codes
    # Some fields have additional info in (), so splitting on those and removing
    suburbs = [suburb.text.split('(')[0] for suburb in region.select("td")[::3]]
    
    for suburb in suburbs:
        suburbs_by_region[suburb] = regions_list[count]
    count += 1  
 
# We need to manually add entries which are known suburbs of the greater Cape Town area
df = pd.DataFrame(list(suburbs_by_region.items()), columns=['locality', 'region'])
df.to_csv("processed/cape-town-suburbs.csv", encoding='utf-8-sig', index=False)

In [23]:
suburbs = pd.read_csv("processed/cape-town-suburbs.csv")
suburbs.sample(10)

          locality             region
51      Constantia   Southern Suburbs
12       Vredehoek          City Bowl
46       Sea Point  Atlantic Seaboard
0         Bo-Kaap           City Bowl
35           Rugby   Northern Suburbs
30       Milnerton         West Coast
124  Melkbosstrand         West Coast
33           Parow   Northern Suburbs
78       Glencairn    South Peninsula
75   Capri Village    South Peninsula

In [24]:
def match_locality(row):
    suburb = suburbs[suburbs['locality'] == row['locality']]
    if suburb.shape[0] == 1:
        return suburb.iloc[0]['region']
    else:
        return "None"

data["region"] = data.apply(match_locality, axis=1)
data.head(10)

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,...,Sushi,Tapas,Tea,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese,places,region
0,Moro Gelato,"Desserts, Ice Cream",4.8,Excellent,72,80,1,CBD,Cape Town,-33.924108,...,0,0,0,0,0,0,0,0,None,None
1,Unframed Ice Cream,Ice Cream,4.7,Excellent,104,40,1,Gardens,Cape Town,-33.928691,...,0,0,0,0,0,0,0,0,None,City Bowl
2,The Velvet Cake Co.,"Bakery, Desserts",4.6,Excellent,90,165,2,CBD,Cape Town,-33.919300,...,0,0,0,0,0,0,0,0,None,None
3,The Creamery,"Desserts, Ice Cream",4.5,Excellent,389,110,2,Newlands,Cape Town,-33.970286,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
4,My Sugar,"Cafe, Patisserie, Bakery, Desserts",4.5,Excellent,197,125,2,Sea Point,Cape Town,-33.921692,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
5,The Velvet Cake Co.,"Cafe, Desserts, Bakery",4.4,Very Good,130,160,2,Bellville,Cape Town,-33.868301,...,0,0,0,0,0,0,0,0,None,Northern Suburbs
6,The Creamery,"Desserts, Ice Cream",4.2,Very Good,110,110,2,Green Point,Cape Town,-33.904093,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
7,Myog,Desserts,4.1,Very Good,87,100,2,Gardens,Cape Town,-33.931500,...,0,0,0,0,0,0,0,0,None,City Bowl
8,The Creamery,"Desserts, Ice Cream",4.1,Very Good,45,75,1,Claremont,Cape Town,-33.981278,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
9,DV Artisan Chocolate,Desserts,3.9,Good,24,70,1,Paarl,Cape Town,-33.760864,...,0,0,0,0,0,0,0,0,Spice Route Farm,None

In [25]:
# We need to manually add suburbs that are part of the wider Cape Town region including Winelands etc.
# We could exclude these entries from the analysis but we'd then be excluding areas such as Stellenbosch and Franshoek which are know food mecca's in Cape Town.

mapping = {
    "CBD":"City Bowl",
    "Century City":"Northern Suburbs",
    "Paarl":"Winelands",
    "Stellenbosch":"Winelands",
    "V & A Waterfront":"Atlantic Seaboard",
    "Bay Area":"South Peninsula",
    "Franschhoek": "Winelands",
    "Riebeek Kasteel":"West Coast",
    "Gordons Bay":"Helderberg",
    "Hermanus":"Overberg",
    "Robertson":"Winelands",
    "Wellington":"Winelands",
    "Woodstock": "City Bowl",
    "Noordhoek":"South Peninsula",
    "Worcester":"Winelands",
    "Zonnebloem": "City Bowl",
    "Rylands":"Cape Flats",
    "Malmesbury": "West Coast",
    "Darling": "West Coast",
    "Sunningdale":"Northern Suburbs",
    "Cape Town International Airport":"Northern Suburbs",
    "Neelsie Student Centre": "Winelands",
    "Scarborough": "South Peninsula"
}


def map_locality_to_region(row):
    if row['region'] == 'None':
        return mapping.get(row['locality'], 'None')
    else:
        return row['region']
    

data["region"] = data.apply(map_locality_to_region, axis=1)
data[data["region"] == "None"]

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,...,Sushi,Tapas,Tea,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese,places,region
464,Two Oceans Restaurant,Seafood,3.8,Good,54,570,4,Cape Point,Cape Town,-34.356368,...,0,0,0,0,0,0,0,0,None,None

In [26]:
data = data.drop(data.index[data["region"] == "None"].tolist())
data[data["region"] == "None"]

Empty DataFrame
Columns: [name, cuisines, aggregate_rating, rating_text, votes, average_cost_for_two, price_range, locality, city, latitude, longitude, has_online_delivery, has_table_booking, African, American, Arabian, Asian, BBQ, Bakery, Bar Food, Belgian, Beverages, Brazilian, British, Burger, Cafe, Cafe Food, Cape Malay, Caribbean, Chinese, Coffee and Tea, Contemporary, Continental, Cuban, Deli, Desserts, Drinks Only, Durban, Egyptian, Ethiopian, European, Fast Food, Finger Food, Fish and Chips, French, Frozen Yogurt, Fusion, German, Greek, Grill, Healthy Food, Ice Cream, Indian, International, Irish, Italian, Japanese, Juices, Korean, Latin American, Lebanese, Mediterranean, Mexican, Middle Eastern, Modern European, Moroccan, Pakistani, Patisserie, Pizza, Portuguese, Pub Food, Salad, Sandwich, Seafood, South African, Spanish, Steak, Street Food, Sushi, Tapas, Tea, Tex-Mex, Thai, Turkish, Vegetarian, Vietnamese, places, region]
Index: []

[0 rows x 88 columns]

In [27]:
data.sample(50)

,name,cuisines,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,locality,city,latitude,...,Sushi,Tapas,Tea,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese,places,region
916,Sansibar,"American, European",3.6,Good,22,300,4,Stellenbosch,Cape Town,-33.943500,...,0,0,0,0,0,0,0,0,Asara Wine Estate,Winelands
398,Wild Clover Restaurant & Bar,"Indian, Healthy Food, Burger, Cape Malay, Gril...",2.6,Average,21,450,4,Stellenbosch,Cape Town,-33.847888,...,0,0,0,0,0,0,0,0,None,Winelands
431,ON19 Restaurant - The Westin Cape Town,"African, Continental",4.1,Very Good,45,460,4,Foreshore,Cape Town,-33.915730,...,0,0,0,0,0,0,0,0,The Westin,City Bowl
1883,Beyerskloof Tasting Room,Drinks Only,3.2,Average,9,50,1,Stellenbosch,Cape Town,-33.891173,...,0,0,0,0,0,0,0,0,Beyerskloof Wine Estate,Winelands
408,De Grendel Restaurant and Wine Estate,"European, South African",4.3,Very Good,129,480,4,Plattekloof,Cape Town,-33.851066,...,0,0,0,0,0,0,0,0,None,Northern Suburbs
706,Crew Bar,Drinks Only,2.8,Average,5,200,3,Green Point,Cape Town,-33.914862,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
793,The Gourmet Bakery,Bakery,0.0,Not rated,1,50,1,V & A Waterfront,Cape Town,-33.905400,...,0,0,0,0,0,0,0,0,V & A Foodmarket,Atlantic Seaboard
526,Scheckter's RAW,"Cafe, Healthy Food",4.0,Very Good,116,160,2,Sea Point,Cape Town,-33.922243,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
984,Moody Lagoon,"Contemporary, French",3.1,Average,5,800,4,Hermanus,Cape Town,-34.345714,...,0,0,0,0,0,0,0,0,None,Overberg
59,Addictions,"Desserts, Ice Cream",2.9,Average,2,120,2,Hout Bay,Cape Town,-34.042666,...,0,0,0,0,0,0,0,0,Mainstream Shopping Centre,Atlantic Seaboard
263,The Avenue Restaurant and Grill,"Grill, Steak",4.0,Very Good,129,420,4,Claremont,Cape Town,-33.986981,...,0,0,0,0,0,0,0,0,Harfield Village,Southern Suburbs
1560,Illy Cafe,"Cafe, Pizza",2.8,Average,2,150,2,Bellville,Cape Town,-33.877517,...,0,0,0,0,0,0,0,0,Tygervalley Shopping Centre,Northern Suburbs
771,Francor Bakery,"Bakery, Desserts",2.9,Average,3,70,1,Bellville,Cape Town,-33.877339,...,0,0,0,0,0,0,0,0,None,Northern Suburbs
1914,Backsberg Restaurant,"Contemporary, South African",3.3,Average,21,350,4,Franschhoek,Cape Town,-33.826613,...,0,0,0,0,0,0,0,0,None,Winelands
346,Guzzlers,"Seafood, Drinks Only, Mediterranean, Burger, B...",3.2,Average,10,200,3,Table View,Cape Town,-33.832494,...,0,0,0,0,0,0,0,0,None,West Coast
450,La Petite Ferme,European,3.9,Good,58,500,4,Franschhoek,Cape Town,-33.918633,...,0,0,0,0,0,0,0,0,None,Winelands
602,The Gin Bar,Drinks Only,4.3,Very Good,66,250,3,CBD,Cape Town,-33.922613,...,0,0,0,0,0,0,0,0,None,City Bowl
1918,Gabriëlskloof Restaurant,South African,3.3,Average,9,300,4,Hermanus,Cape Town,-34.238716,...,0,0,0,0,0,0,0,0,None,Overberg
17,For the Love of Yummyness,Desserts,3.6,Good,26,100,2,V & A Waterfront,Cape Town,-33.906401,...,0,0,0,0,0,0,0,0,V & A Foodmarket,Atlantic Seaboard
977,Sliced Between,Cafe,0.0,Not rated,0,120,2,Kenilworth,Cape Town,-34.001490,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
1574,Bossa Café,Cafe,2.9,Average,6,400,4,Stellenbosch,Cape Town,-33.962930,...,0,0,0,0,0,0,0,0,None,Winelands
595,Yours Truly,Cafe,3.7,Good,73,200,3,CBD,Cape Town,-33.924478,...,0,0,0,0,0,0,0,0,None,City Bowl
36,Venezia Ice Cream Parlour,"Ice Cream, Desserts",3.2,Average,24,120,2,Sea Point,Cape Town,-33.916959,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
1513,Mugg & Bean,Cafe,2.6,Average,13,350,4,Somerset West,Cape Town,-34.069778,...,0,0,0,0,0,0,0,0,Waterstone Village,Helderberg
1880,Eight to Go Deli,"Cafe, Deli",3.2,Average,17,300,4,Stellenbosch,Cape Town,-33.973667,...,0,0,0,0,0,0,0,0,Spier Wine Estate,Winelands
178,Vida E Caffe,"Cafe, Desserts",3.3,Average,14,150,2,Claremont,Cape Town,-33.977726,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
316,Mitchell's Scottish Ale House,"Mediterranean, Pizza, Finger Food",3.6,Good,160,300,4,V & A Waterfront,Cape Town,-33.905167,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
775,Limnos Bakers,"Cafe, Bakery, Desserts",2.4,Poor,48,150,2,Claremont,Cape Town,-33.979765,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
979,Harringtons Cocktail Lounge,Drinks Only,3.4,Average,16,200,3,CBD,Cape Town,-33.928973,...,0,0,0,0,0,0,0,0,None,City Bowl
822,Sky Bar,Finger Food,0.0,Not rated,2,250,3,CBD,Cape Town,-33.921077,...,0,0,0,0,0,0,0,0,None,City Bowl
802,The Vue Sky Bar Lounge,Tapas,3.7,Good,63,400,4,Green Point,Cape Town,-33.917524,...,0,1,0,0,0,0,0,0,None,Atlantic Seaboard
1644,Hank's Olde Irish,Drinks Only,3.1,Average,6,180,2,CBD,Cape Town,-33.921666,...,0,0,0,0,0,0,0,0,None,City Bowl
130,Vida E Caffe,"Cafe, Desserts",3.5,Good,17,150,2,Camps Bay,Cape Town,-33.951100,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
236,Nuri Sushi Factory,"Japanese, Sushi",4.1,Very Good,452,160,2,CBD,Cape Town,-33.924194,...,1,0,0,0,0,0,0,0,None,City Bowl
209,Chefs Warehouse & Canteen,Mediterranean,4.4,Very Good,132,700,4,CBD,Cape Town,-33.920819,...,0,0,0,0,0,0,0,0,None,City Bowl
92,Marcel's Frozen Yoghurt,Desserts,0.0,Not rated,0,100,2,Kuils River,Cape Town,-33.948340,...,0,0,0,0,0,0,0,0,Zevenwacht Mall,Northern Suburbs
790,Classic Bakery,"Bakery, Cafe",0.0,Not rated,1,180,2,Crawford,Cape Town,-33.980171,...,0,0,0,0,0,0,0,0,None,Cape Flats
106,Osumo,Healthy Food,3.8,Good,27,150,2,Green Point,Cape Town,-33.908974,...,0,0,0,0,0,0,0,0,None,Atlantic Seaboard
315,Barristers,"Seafood, Grill, Steak",3.6,Good,230,320,4,Newlands,Cape Town,-33.976000,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
535,Hard Pressed Cafe,"Cafe, Bakery, Juices, Beverages, Healthy Food",4.0,Very Good,62,180,2,De Waterkant,Cape Town,-33.917422,...,0,0,0,0,0,0,0,0,Portside Building,City Bowl
231,Thali,"Indian, Tapas",4.2,Very Good,65,400,4,Gardens,Cape Town,-33.929101,...,0,1,0,0,0,0,0,0,None,City Bowl
41,Jessy's Waffles,Desserts,3.2,Average,11,100,2,Gardens,Cape Town,-33.931491,...,0,0,0,0,0,0,0,0,None,City Bowl
278,Forneria Italia,"Beverages, Desserts, Italian, Pizza",4.0,Very Good,111,220,3,Table View,Cape Town,-33.821362,...,0,0,0,0,0,0,0,0,None,West Coast
754,Quality Bake Express,"Bakery, Desserts",3.2,Average,12,35,1,Diep River,Cape Town,-34.036500,...,0,0,0,0,0,0,0,0,None,Southern Suburbs
255,Clarke's Bar & Dining Room,European,4.0,Very Good,297,280,3,CBD,Cape Town,-33.922286,...,0,0,0,0,0,0,0,0,None,City Bowl
1675,Eikendal Vineyards,Drinks Only,3.1,Average,8,250,3,Stellenbosch,Cape Town,-34.012068,...,0,0,0,0,0,0,0,0,None,Winelands
1211,Bellini Restaurant,"Burger, Contemporary, Italian, Pizza",2.3,Poor,23,442,4,CBD,Cape Town,-33.922685,...,0,0,0,0,0,0,0,0,None,City Bowl
60,Sirocco Ice Cream,"Desserts, Ice Cream",2.8,Average,7,80,1,Muizenberg,Cape Town,-34.105808,...,0,0,0,0,0,0,0,0,Surfers Corner,South Peninsula
471,Carne on Kloof,"Italian, Grill",3.8,Good,52,500,4,Gardens,Cape Town,-33.934678,...,0,0,0,0,0,0,0,0,None,City Bowl
382,Buckley's Pub & Pool Bar,Finger Food,2.8,Average,6,150,2,Bellville,Cape Town,-33.882171,...,0,0,0,0,0,0,0,0,None,Northern Suburbs

Let's dive deeper and see if we can spot cuisine trends within specific suburbs. We'll look for the top 10 and bottom 10

## Add Column to Store The Count of Cuisines Types Offered

In [81]:
def get_cuisine_cols():
    cols = ["name", "aggregate_rating", "rating_text", "votes", "average_cost_for_two", "price_range", "cuisines", "cuisine_count", "places", "locality", "region", "city", "latitude", "longitude", "has_online_delivery", "has_table_booking", "top_bottom"]
    '''Returns the column names of all the cuisine type column, not including the cuisine_count column'''
    cuisine_cols = [col for col in data.columns.tolist() if col not in cols]
    return cuisine_cols   

def count_cuisines(row):
    #count = len([col for col in data.columns if 'cuisine_' in col if row[col] == True]) 
    count = len([col for col in data.columns.tolist() if col in get_cuisine_cols() if row[col] == True]) 
    return count

data["cuisine_count"] = data.apply(count_cuisines, axis=1)
data.sample(5)

,name,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,cuisines,cuisine_count,places,locality,...,Street Food,Sushi,Tapas,Tea,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese,top_bottom
33,Giovanni's,4.3,Very Good,171,150,2,Cafe,1,None,Green Point,...,0,0,0,0,0,0,0,0,0,Top Half
393,Oblivion,3.6,Good,129,350,4,Italian,1,None,Claremont,...,0,0,0,0,0,0,0,0,0,Top Half
541,Jardine Restaurant,3.4,Average,11,550,4,International,1,None,Stellenbosch,...,0,0,0,0,0,0,0,0,0,Top Half
417,Vovo Telo,3.6,Good,39,220,3,"Cafe, Bakery",2,Steenberg Village,Tokai,...,0,0,0,0,0,0,0,0,0,Top Half
705,Melts Tavern,3.2,Average,18,250,3,"Grill, Burger",2,None,Gordons Bay,...,0,0,0,0,0,0,0,0,0,Bottom Half

In [29]:
data[["cuisines", "cuisine_count"]].sample(10)

                                   cuisines  cuisine_count
376                             Finger Food              1
1434                European, South African              2
743                            Cafe, Bakery              2
1919                            Drinks Only              1
1085                     Cafe, Healthy Food              2
587                              Cafe, Deli              2
415                          Italian, Grill              2
136               Fish and Chips, Fast Food              2
345       Finger Food, Burger, Steak, Grill              4
264   French, Mediterranean, Seafood, Grill              4

## Reorder Columns & Export Prepared CSV

In [30]:
col_order = ['name', 'aggregate_rating', 'rating_text', 'votes',
       'average_cost_for_two', 'price_range', 'cuisines', 'cuisine_count', 'places', 'locality', 'region', 'city', 'latitude',
       'longitude', 'has_online_delivery', 'has_table_booking']
other_cols = [c for c in data.columns if c not in col_order]
data = data[col_order+other_cols]
data.sample(5)

,name,aggregate_rating,rating_text,votes,average_cost_for_two,price_range,cuisines,cuisine_count,places,locality,...,Steak,Street Food,Sushi,Tapas,Tea,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese
234,The Fat Cactus,4.1,Very Good,420,300,4,"Mexican, Finger Food, Tex-Mex",3,None,Gardens,...,0,0,0,0,0,1,0,0,0,0
541,Haas Collective,3.9,Good,173,190,2,Cafe,1,None,CBD,...,0,0,0,0,0,0,0,0,0,0
1621,Pig & Swizzle,2.8,Average,7,120,2,Drinks Only,1,None,Rondebosch,...,0,0,0,0,0,0,0,0,0,0
1489,Tribakery,2.3,Poor,34,200,3,Cafe,1,None,V & A Waterfront,...,0,0,0,0,0,0,0,0,0,0
312,Beefcakes,3.7,Good,99,300,4,"American, Burger",2,None,Green Point,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# Order data by rating desc and export to csv
data.sort_values("aggregate_rating", ascending=False, inplace=False).to_csv('processed/zomato-cape-town-final.csv', 
                                                                            encoding='utf-8-sig', index=False)